.btn {
    color: #000000;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}