.trip-card {
    border: 1px solid #808080;
    padding: 190px 15px 15px;
    min-width: 235px;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trip-card.focus {
    border: 1px solid #81c4ff;
}

.trip-card__content {
    cursor: pointer;
}

.trip-card__img {
    position: absolute;
    left: -1px;
    top: -1px;
    object-fit: cover;
    width: calc(100% + 2px);
    height: 178px;
}

.trip-card__title {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px;
    font-weight: 400;
    color: #333333;
}

.trip-card__booking {
    font-size: 16px;
    line-height: 20px;
    color: #808080;
    margin: 0 0 8px;
}

.trip-card__delete-btn {
    display: block;
    margin-left: auto;
    transition: .25s;
    color: #ff3523;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    &:hover {
        color: #ffffff;
        background-color: #ff3523;
    }
}

@media (max-width: 1000px) {
    .trip-card {
        padding: 175px 15px 15px;
        min-width: 200px;
    }

    .trip-card__img {
        height: 163px;
    }
}

@media (max-width: 426px) {
    .trip-card {
        padding: 135px 15px 15px;
        min-width: 160px;
    }

    .trip-card__img {
        height: 123px;
    }

    .trip-card__title {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 5px;
    }

    .trip-card__booking {
        font-size: 14px;
        line-height: 16px;
    }
}
