.search {
    background-color: rgb(240,242,247);
    width: fit-content;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.search__img {
    width: 20px;
    cursor: pointer;
}

@media (max-width: 426px) {
    .search {
        width: 100%;
    }
}
